<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>登录页</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
	</head>
    <body>
        <h1>登录页</h1>
        <p>示例用户，用户名和密码分别为：user/password</p>
        <p th:if="${param.error}" class="error">用户名或密码错误！</p>
        <div th:if="${param.logout}">已经退出。</div>
        <form th:action="@{/login}" method="post">
            <label for="username">用户名</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">密码</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="登录" />
        </form>
        <p><a href="/index" th:href="@{/index}">返回主页</a></p>
    </body>
</html>
